.row {
    display: flex;
}

.column {
  flex: 330%;
  margin: 0 5px;
  padding: 5px;
}

.column.dragzone,
.column.dropzone {
  border-style: solid;
}

.dragitem,
.dropoption,
.sortable-placeholder {
  border-style: solid;
  margin: 4px 0;
  padding: 2px;
}

.sortable-placeholder {
  border-style: dashed;
  background-color: lightgrey;
}

.dropzone.dragged .item {
  pointer-events: none;
}

.dragitem, 
.dropzone.sortable .dropzone-items .item {
  cursor: move;
}

.dropzone-options,
.dropzone.hidden .dropzone-items {
  display: none;
}

.dropzone .dropzone-items {
  min-height: 200px;
}

.fade {
  opacity: 60%;
}
