.row {
    display: flex;
}

.column {
  flex: 50%;
  margin: 0 5px;
  padding: 5px;
}

.column.dragzone,
.column.dropzone {
  border-style: solid;
}

.dragitem,
.dropoption,
.item {
  border-style: solid;
  margin: 4px 0;
  padding: 2px;
}

.dropzone.dragged .item {
  pointer-events: none;
}

.dropzone.red {
  border-color: red;
}

.dragitem, 
.dropzone .dropoption {
  cursor: move;
}

.dropzone .dropzone-options,
.dropzone.hidden .dropoption,
.dropzone.hidden .dragitem {
  display: none;
}
